.features{
    .css-18jhcfo-MuiButtonBase-root-MuiButton-root:hover{
        background-color: unset!important;
    }
    .MuiButton-root:hover {
        background-color: green;
      }
      .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 9.5px 14px;
      }
}